.profile {
  display: flex;
  align-items: center;
  font-size: 14px;
  column-gap: 6px;
}

.imageWrapper {
  position: relative;
  width: 28px;
  height: 28px;
}

@media (max-width: 769px) {
  .email {
    display: none;
  }
}
