.visual-container {
  padding: 20px 0 60px;
  background-color: var(--gray5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-container {
  width: 1060px;
  margin: 0 auto;
}
