.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  position: relative;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

.button.medium {
  width: 128px;
  height: 53px;
  font-size: 18px;
  font-weight: 600;
}

.button.small {
  width: 80px;
  height: 37px;
}

@media (max-width: 767px) {
  .medium {
    width: 80px;
    height: 37px;
    padding: 10px 21.5px;
    font-size: 14px;
  }
}
